@model List<CeraWebApplication.Models.CeraResourceGroup>

@{
    Layout = "~/Views/Shared/_ResourcesLayout.cshtml";
    //ViewData["Title"] = "Login";
}


<div>
    <div class="row">
        <div class="col-md-4">
            <ul class="cera-breadCrumb">
                <li><a asp-controller="Cera" asp-action="DashBoard">Home </a></li>
                <li><a href="#">Resources</a></li>
                <li>Resource Groups</li>
            </ul>
        </div>
    </div>
    <div class="cera-rightContent">
        <h3 class="main_h">Resource Groups </h3>
        <table class="table display" id="example" style="width:100%">
            <thead>
                <tr>

                    <th>
                        Name
                    </th>

                    <th>
                        Region
                    </th>
                    <th>
                        provisioningstate
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.provisioningstate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script type="text/javascript">
    (function () {
        $('.toggle-wrap').on('click', function () {
            $(this).toggleClass('active');
            $('.cera-col3, .cera-col9').toggleClass('menu-open');
        });
    })();
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
     var cloud;
    var data = [];
    var dataarr = [];
    var clouddata = [];
    //function subscriptiondata() {
    //    $.ajax({
    //        async: true,
    //        type: "GET",
    //        url: "/Cera/GetSubscription",
    //        //dataType: "json",
    //        //contentType: "application/json; charset=utf-8",
    //        success: function (data) {
    //            debugger;
    //            // data = JSON.parse(data);
    //            console.log("subscriptiondata", data);
    //            appenddata(data);
    //            debugger;
    //        },
    //        error: function (err) {
    //            console.log(err.responseText);
    //        }
    //    });
    //}
    //    function appenddata(data) {
    //        debugger;
    //        //let html = '';

    //        //for (let i = 0; i < data.length; i++) {
    //        //    html += '<option value=' + data[i].subscriptionId + '>' + data[i].displayName + '</option>';
    //        //    html += '';
    //        //}

    //        //$('#subid').empty();
    //        //$('#subid').append(html);
    //        for (let i = 0; i < data.length; i++) {
    //            $('#ddlSub').append('<option value=' + data[i].subscriptionId + '>' + data[i].displayName + '</option>')
    //        }
    //    }

    function getdataCloud() {
      
        cloud = $('#ddlCloud').val();
        console.log('selected cloud', cloud);
        let subscriptionid = $('#ddlSub').val();
        if (subscriptionid == "AllSubscriptions") {
            if (cloud == "AllClouds") {
                $('#subscriptionFilter').hide();
              
                clouddata = [];
                clouddata = this.JSON.parse('@Html.Raw(Json.Serialize(ViewBag.data))');
                console.log('AllCloudsdata', clouddata);
                appendhtmldata(clouddata);
            }
            else if (cloud == "Azure") {
                debugger;
                $('#subscriptionFilter').show();
              
                //subscriptiondata();
                data = [];
                dataarr = [];
                data = this.JSON.parse('@Html.Raw(Json.Serialize(ViewBag.data))');
                dataarr = data.filter(function (data) {
                    return data.cloudProvider == cloud;

                });
                console.log('Selectedcloud', dataarr);
                appendhtmldata(dataarr);
            }
            else {
                $('#subscriptionFilter').hide();
                data = [];
                dataarr = [];
                data = this.JSON.parse('@Html.Raw(Json.Serialize(ViewBag.data))');
                dataarr = data.filter(function (data) {
                    return data.cloudProvider == cloud;

                });
                console.log('Selectedcloud', dataarr);
                appendhtmldata(dataarr);
            }

        }

        else {
            if (cloud == "AllClouds") {
                $('#subscriptionFilter').hide();
                
                clouddata = [];
                clouddata = this.JSON.parse('@Html.Raw(Json.Serialize(ViewBag.data))');
                console.log('AllCloudsdata', clouddata);
                appendhtmldata(clouddata);
            }
            else if (cloud == "Azure") {
                debugger;
                $('#subscriptionFilter').show();
                //subscriptiondata();
                data = [];
                dataarr = [];
                data = this.JSON.parse('@Html.Raw(Json.Serialize(ViewBag.data))');
                dataarr = data.filter(function (data) {
                    return data.cloudProvider == cloud && data.subscriptionId == subscriptionid;

                });
                console.log('Selectedcloud', dataarr);
                appendhtmldata(dataarr);
            }
            else {
                $('#subscriptionFilter').hide();
                data = [];
                dataarr = [];
                data = this.JSON.parse('@Html.Raw(Json.Serialize(ViewBag.data))');
                dataarr = data.filter(function (data) {
                    return data.cloudProvider == cloud;

                });
                console.log('Selectedcloud', dataarr);
                appendhtmldata(dataarr);
            }
        }
    }
    function getDataBySubscription() {
        getdataCloud();
    }
    function appendhtmldata(data) {
        console.log('appendhtmlhit');
        if (data != null) {

            let html = '';
       
            for (let i = 0; i < data.length; i++) {
                html += '<tr>';
                html += '<td>' + data[i].name + '</td>';
                html += '<td>' + data[i].regionName + '</td>';
                html += '<td>' + data[i].provisioningstate + '</td>';
                html += '</tr>';
            }
            $('#myTable').empty();
            $('#myTable').append(html);

        }
    }
</script>


